.header{
        display: flex;
        padding: 16px;
        font-size: var(--header-font-size);
        background-color: var(--color-header-bg);
        align-items: center;
        flex-wrap: nowrap;
}